@model JYTGameStore.Models.CreditCard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CreditCard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCPIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCPIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CCNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
